@import "./normalize";

*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #E1D4C9;
    font-family: 'Inter', sans-serif;
    
}



.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
}

.header{
    margin-top: 20px;
    margin-bottom: 20px;
   
}

.header-items{
    display: flex;
    justify-content: space-between;
}



.nav-list{
    display: flex;
    list-style: none;
    gap: 40px;
    padding: 0;
    
}


.header-nav__link{
    text-decoration: none;
    color: #403F3D;
    font-size: 16px;
    font-weight: 600;
    width: max-content;
    line-height: 24px;
}

.header-nav__link::after{
    display: block;
    content: "";
    width: 0;
    height: 2px;
    margin: 0 auto;
    background-color: #403F3D;
    transition: width 0.3s linear;
    
}


.header-menu{
    align-self: center;
    position: relative;
}


.header-menu__link{
    display: block;
    width: 72px;
    position: relative;
    text-decoration: none;
    color: #403F3D;
    font-size: 16px;
    font-weight: 600;
}

.header-menu__link::before{
    content: url(../img/coffee-cup.svg);
    position: absolute;
    left: 51px;
    top: -4px;
}

.header-menu__link::after{
    position: absolute;
    content: "";
    display: block;
    top: 21px;
    left: 35px;
    width: 0px;
    height: 2px;
    background-color: #403F3D;
    transition: width 0.3s linear, left 0.3s linear, opacity 2s linear;
    opacity: 0;
}



.header-logo{
    height: 60px;
    position: relative;
    z-index: 5;
}

.section-title{
    position: relative;
    background-image: url(../img/img-hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    padding: 100px;
    border-radius: 40px;
    overflow: hidden;
}

.title-wrapper{
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    max-width: 530px;
    gap: 41px;
}

.section-title__h1{
    font-size: 72px;
    color: #E1D4C9;
    line-height: 75.6px;
    font-weight: 600;
    font-style: normal;
    margin: 0;
}

.h1-span{
    color: #B0907A;
    font-style: italic;
    
}

.section-title__info{
    color: #E1D4C9;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
}

.section-title__btn{
    text-decoration: none;
    color: #403F3D;
    background-color: #E1D4C9;
    border: none;
    border-radius: 100px;
    width: max-content;
    padding: 23px 78px;
    cursor: pointer;
    width: 199px;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    transition: padding-left 0.3s linear;
}

.section-title__btn::after{
    content: url(../img/coffee-cup.svg);
    position: absolute;
    top: 34%;
    left: 59%;
    opacity: 0;
    transition: opacity 0.3s linear ;
}

.video-title{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.section-favorite{
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
}


.coffee-title{
    font-size: 60px;
    text-align: center;
    font-weight: 600;
    line-height: 75px;
    color: #403F3D;
}

.coffee-span{
    color: #B0907A;
    font-style: italic;
}

.coffee-img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
    
}

.favorite-description{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 480px;
}

.favorite-description__name{
    font-size: 24px;
    line-height: 30px;
    color: #403F3D;
}

.favorite-description__paragraph{
    margin: 0;
    color: #403F3D;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #403F3D;
    text-align: center;
}


.favorite-description__price{
    color: #403F3D;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 40px;
}



.slider-wrapper{
    max-width: 480px;
    margin: 0 auto;
    overflow-x: hidden;
}

.slider-common-wrapper{
    display: flex;
    transition: transform 0.7s linear;
}

.coffee-slider-wrapper{
    width: 100%;
    flex-shrink: 0;
}



.slider-items{
    display: flex;
    justify-content: center;
    gap: 12px;
}


.slider-span-wrapper{
    position: relative;
    width: 40px;
    height: 4px;
    border: none;
    border-radius: 100px;
    background-color: #C1B6AD;
}

.slider-span{
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    height: 4px;
    background-color: #665F55; 
    border: none;
    border-radius: 100px;
}




.slider-button{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #665F55;
    background-color: transparent;
    cursor: pointer;
    top: 50.7%;
    transition: background-color 0.3s linear;
}

.slider-button-left{
    left: 0.4%;
}

.slider-button-right{
    right: 0.4%;
}

.slider-button svg path{
    transition: stroke 0.3s linear;
}



.coffee-slider-wrapper{
    transition: transform 0.7s linear;
}



.section-about{
    overflow: hidden;
}

.about-title{
    margin: 0;
    padding: 0;
    font-size: 59.9px;
    font-weight: 600;
    line-height: 125%;
    color: #403F3D;
    box-sizing: content-box;
    width: 100%;
    margin-bottom: 40px;
}

.about-span{
    font-style: italic;
    color: #B0907A;
}

.about-photos{
    display: flex;
    gap: 40px;
}

.about-photos__item{
    border-radius: 20px;
    &.item1, &.item4{
        aspect-ratio: 660/590;
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    &.item2, &.item3{
        aspect-ratio: 660/430;
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    &.item1, &.item3{
        margin-bottom: 40px;
    }
}

.about-img1{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: scale(1.1); 
    transition: transform 0.3s linear;
}

.about-img2{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: scale(1.1); 
    transition: transform 0.3s linear;
}

.about-img3{
   object-fit: cover;
   width: 100%;
   height: 100%;
   transform: scale(1.1); 
   transition: transform 0.3s linear;
}

.about-img4{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: scale(1.1); 
    transition: transform 0.3s linear;
}


.section-mobile{
    margin-top: 100px;
    display: flex;
    gap: 100px;
    margin-bottom: 95px;
}

.mobile-app-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 38px;
}

.mobile-title{
    padding: 0;
    margin: 0;
    color: #403F3D;
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
}

.mobile-span{
    font-style: italic;
    color: #B0907A;
}

.mobile-description{
    padding: 0;
    margin: 0;
    color: #403F3D;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.mobile-links-wrapper{
    display: flex;
    gap: 18px;
    
}

.apple-wrapper-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 8px;
    border: 1px solid #665F55;
    border-radius: 100px;
    padding: 12px 59px 12px 20px;
    transition: background-color 0.3s linear;
}

.apple-available{
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-weight: 600;
    line-height: 140%;
    color: #403F3D;
    transition: color 0.3s linear;
}

.apple-store{
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 150%;
    font-weight: 600;
    color: #403F3D;
    transition: color 0.3s linear;
}

.google-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 8px;
    border: 1px solid #665F55;
    border-radius: 100px;
    padding: 12px 44px 12px 20px;
    transition: background-color 0.3s linear; 
}

.google-available{
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-weight: 600;
    line-height: 140%;
    color: #403F3D;
    transition: color 0.3s linear;
}

.google-play{
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 150%;
    font-weight: 600;
    color: #403F3D;
    transition: color 0.3s linear;
}






svg path{
    transition: fill 0.3s linear;
}





.footer-wrapper{
    padding: 100px;
    background-color: #665F55;
    border-radius: 40px;
    display: flex;
    gap: 100px;
    margin-bottom: 40px;
}

.footer-title{
    padding: 0;
    margin: 0;
    color: #E1D4C9;
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
    max-width: 530px;
}

.footer-span{
    color: #B0907A;
    font-style: italic;
}

.footer-socials{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
}

.contacts-title{
    padding: 0;
    margin: 0;
    color: #E1D4C9;
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
}

.socials-icons{
    display: flex;
    gap: 10px;
}

.socials-icons__item{
    text-decoration: none;
    border: 1px solid #C1B6AD;
    border-radius: 100px;
    padding: 18px 18px 12px;
    transition: background-color 0.3s linear;
}

.socials-icons__item svg path{
    transition: stroke 0.3s linear;
}

.contacts-info{
    display: flex;
    flex-direction: column;
    gap: 17px;
}




.contacts-info__link{
    text-decoration: none;
    color: #E1D4C9;
    font-size: 16px;
    font-weight: 600;
    width: max-content;
}

.contacts-info__link svg{
    margin-right: 4px;
}




.contacts-info__link:not(.schedule-link)::after{
    display: block;
    content: "";
    height: 2px;
    margin: 0 auto;
    width: 0px;
    background-color: #E1D4C9;
    transition: width 0.3s linear;
}



.section-menu-title{
    margin-bottom: 38px;
}

.menu-title{
    margin: 0;
    padding: 0;
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
    color: #403F3D;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}

.menu-span{
    font-style: italic;
    color: #B0907A;
}

.menu-tabs{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.tabs-btn{
    cursor: pointer;
    border-radius: 100px;
    padding: 11px 16px 11px 46px;
    background-color: transparent;
    border: 1px solid #C1B6AD;
    position: relative;
    color: #403F3D;
    font-size: 16px;
    line-height: 150%;
    font-weight: 600;
    transition: color 0.3s linear, background-color 0.3s linear;
}

.btn-coffee{
    padding: 11px 16px 11px 46px;
    background-color: transparent;
    border: 1px solid #C1B6AD;
    position: relative;
    color: #403F3D;
    font-size: 16px;
    line-height: 150%;
    font-weight: 600;
    
}


.coffee-icon{
    position: absolute;
    left: 8px;
    top: 8px;
    background-color: #C1B6AD;
    padding: 7px;
    border-radius: 100px;
    transition: background-color 0.3s linear;
}

.tea-icon{
    position: absolute;
    left: 8px;
    top: 8px;
    background-color: #C1B6AD;
    padding: 7px;
    border-radius: 100px;
    transition: background-color 0.3s linear;
}

.dessert-icon{
    position: absolute;
    left: 8px;
    top: 8px;
    background-color: #C1B6AD;
    padding: 7px;
    border-radius: 100px;
    transition: background-color 0.3s linear;
}

.menu-page__link{
    pointer-events: none;
}

.menu-page__link{
    position: relative;
}


.header-menu__link.menu-page__link::after{
    position: absolute;
    content: "";
    display: block;
    top: 21px;
    left: 0px;
    width: 70px;
    height: 2px;
    background-color: #403F3D;
    opacity: 1;
    transition: none;
}



.tabs-btn--active{
    transition: color 0.3s linear, background-color 0.3s linear;
    background-color: #665F55;
    color: #E1D4C9;
    pointer-events: none;
}

.tabs-btn--active .coffee-icon, .tabs-btn--active .tea-icon, .tabs-btn--active .dessert-icon {
    transition: background-color 0.3s linear;
    background-color: #E1D4C9;
}

.section-menu-gallery{
    margin-bottom: 98px;
}

.menu-gallery-wrapper{
    width: 310px;
    height: 310px;
    overflow: hidden;
    border-radius: 40px;
}

.menu-item_img{
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    transition: transform 0.3s linear;
}



.menu-item-description{
    max-width: 310px;
    height: 196px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    
}

.product-title-h3{
    padding: 0;
    margin: 0;
    color: #403F3D;
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 12px;
}

.product-description{
    margin: 0;
    padding: 0;
    color: #403F3D;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: auto;
}

.product-price{
    font-size: 24px;
    color: #403F3D;
    font-weight: 600;
    line-height: 125%; 
}

.menu-gallery__item{
    border: 1px solid #C1B6AD;
    border-radius: 40px;
}

.menu-gallery{
    display: grid;
    grid-template-columns: repeat(4, 310px);
    gap: 38px 40px;
}

.tabs-btn.btn-coffee-active{
    pointer-events: none;
}

.menu-button{
    height: 44px;
    width: 44px;
    border-radius: 100px;
    border: 1px solid #665F55; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    display: none;
    position: relative;
    z-index: 5;
    flex-shrink: 0;
}

.menu-button__item{
    position: absolute;
    display: block;
    width: 18px;
    height: 2px;
    background-color: #403F3D;
    border-radius: 1.5px;
    transition: transform 0.3s linear;
}

.menu-button__item:first-child{
    top: calc(50% - 5px);
    left: 12px;
    
}
.menu-button__item:nth-child(2){
    top: calc(50% + 3px);
    left: 12px;
}

.menu-show-button{
    display: none;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-radius: 100px;
    border: 1px solid #665F55;
    margin: 0 auto;
    position: relative;
    object{
        position: absolute;
        transform: translate(-50%, -50%);
    }
    @media (hover: hover){
        cursor: pointer;   
    }
}

.wrapper-svg{
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 5;
}


@media (hover: hover){
    .header-nav__link:hover::after{
        width: 100%;
        transition: width 0.3s linear;
    }
    .header-menu__link:hover::after{
        width: 70px;
        opacity: 1;
        left: 0;
        transition: width 0.3s linear, left 0.3s linear, opacity 0.1s linear;
    }
    .section-title__btn:hover::after{
        opacity: 1;
        transition: opacity 0.3s linear ;
    }
    .section-title__btn:hover{
        width: 199px;
        padding-left: 60px;
        transition: padding-left 0.3s linear;
    }
    .slider-button:hover{
        background-color: #665F55;
        transition: background-color 0.3s linear;
    }
    
    .slider-button:hover svg path{
        stroke: #E1D4C9;
        transition: stroke 0.3s linear;
    };
    .about-img1:hover, .about-img2:hover, .about-img3:hover, .about-img4:hover{
        transform: scale(1);
        transition: transform 0.3s linear;
    }
    .google-link:hover, .apple-wrapper-link:hover{
        background-color: #665F55;
    }
    
    .google-link:hover .google-available, .google-link:hover .google-play{
        color: #E1D4C9;
    }
    .apple-wrapper-link:hover .apple-available, .apple-wrapper-link:hover .apple-store{
        color: #E1D4C9;
        transition: color 0.3s linear;
    }
    
    .google-link:hover svg path{
        fill: #E1D4C9;
        transition: fill 0.3s linear;
    }

    .apple-wrapper-link:hover svg path{
        fill: #E1D4C9;
        transition: fill 0.3s linear;
    }
    .socials-icons__item:hover{
        background-color: #E1D4C9;
        transition: background-color 0.3s linear;
    }
    
    .socials-icons__item:hover svg path{
       stroke: #403F3D;
       transition: stroke 0.3s linear;
    }
    .contacts-info__link:hover::after{
        display: block;
        width: 100%;
        transition: width 0.3s linear
    }
    .btn-coffee:hover, .btn-tea:hover, .btn-dessert:hover{
        transition: color 0.3s linear, background-color 0.3s linear;
        background-color: #665F55;
        color: #E1D4C9;
    }
    
    .btn-coffee:hover .coffee-icon, .btn-tea:hover .tea-icon, .btn-dessert:hover .dessert-icon{
        transition: background-color 0.3s linear;
       background-color: #E1D4C9;
    }
    .menu-gallery__item:hover .menu-item_img{
        transform: scale(1);
        transition: transform 0.3s linear;
    }
    .schedule-link:hover{
        cursor: default;
     }
}

@media (max-width: 1439px){
    .menu-gallery{
        grid-template-columns: repeat(3, 310px);
        justify-content: center;
    }
}

@media (max-width: 1300px){
    .mobile-img{
        width: 100%;
    }
}

@media (max-width: 1090px){
    .menu-gallery{
        grid-template-columns: repeat(2, 310px);
        justify-content: center;
    }
}


@media (max-width: 990px){
    .section-mobile{
        flex-direction: column;
    }
    .mobile-img{
        max-width: 630px;
        max-height: 630px;
        display: block;
        margin: 0 auto;
    }
    .footer-wrapper{
        flex-direction: column;
        padding: 100px 60px 105px;
    }
    .footer-contacts{
        gap: 40px;
    }

}

@media (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .section-title__btn::after{
        opacity: 1;
    }
    .section-title__btn{
        width: 199px;
        padding-left: 62px;
    }
    
   .header-menu-wrapper{
    position: absolute;
    left: 150%;
    top: 601px;
    z-index: 2;
    transition: left 0.3s linear;
   }
    .header-menu{
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        // top: 80.5%;
        // left: 150%;
            
        transition: left 0.3s linear;
        .header-menu__link{
                display: block;
                width: 136px;
                font-size: 32px;
                color: #403F3D;
                line-height: 125%;
                font-weight: 600;
                font-family: Inter;
            }
        .header-menu__link::before{
                content: "";
                background-image: url(../img/coffee-cup.svg);
                background-size: cover;
                width: 40px;
                height: 40px;
                left: 74%;
        }
        .header-menu__link::after{
            top: 37px;
            left: 59px;
        }
        .menu-page__link::after{
            top: 40px;
            left: 0;
            width: 139px;
        }
        @media (hover: hover){
            .header-menu__link:hover::after{
                width: 150px;
                left: 0;
            }
        }
        
    }
    .header-menu--burger{
        // z-index: 4;
        left: calc(50% - 70px);
    }

    .header-nav{
        position: absolute;
        overflow-x: hidden;  
        width: 100vw;
        height: 100vh;
        top: 0px;
        left: 0px;
        // z-index: 4;
    }
    
    .nav-list{ 
        position: absolute;
        flex-direction: column; 
        align-items: center;
        gap: 60px;
        margin: 0;
        padding-top: 159px;
        top: 0;
        left: 150%;
        right: 0;
        bottom: 0;
        background-color: #E1D4C9;
        transition: left 0.3s linear;
        z-index: 2;
        .nav-list__item{
            width: max-content;
            .header-nav__link{
                font-size: 32px;
                font-weight: 600;
                line-height: 125%;
                color: #403F3D;
            }
        }
    }
    .nav-list-open{
        left: 0; 
    }
    

    .disable-scroll{
        overflow: hidden;
    }

    .menu-button{
        @media (hover: hover){
            cursor: pointer;
        }
        position: relative;
        display: block;
    }

    .menu-button--open{
        .menu-button__item:first-child{
            transform: rotate(45deg) translate(3px, 3px);
        }
        .menu-button__item:nth-child(2){
            transform: rotate(-45deg) translate(3px, -3px);
        }
    }

    .header-items{
        align-items: center;
    }
    .section-title{
        padding: 100px 60px;
    }
    .about-photos{
        flex-direction: column;
        .item2, .item3{
            display: none;
        }
    }
    
    .slider-button{
        top: 55%;
    }
    .slider-button-left{
        left: 0%;
    }
    .slider-button-right{
        right: 0%;
    }
    .about-photos__item.item1, .about-photos__item.item4 {
        aspect-ratio: 690/590;
        margin-bottom: 0;
        img{
            transform: scale(1.05);
        }
    }
    .mobile-app-title{
        gap: 42px;
    }
    .section-mobile{
        margin-bottom: 41px;
    }
    
    .menu-gallery{
        margin-bottom: 40px;
        .menu-gallery__item:nth-child(n + 5){
            display: none;
        }
    }
    .menu-show-button{
        display: block;
    }
}

@media (max-width: 720px){
    .container{
        padding: 0 16px;
    }
    .section-title{
        padding: 60px 16px;
    }
    .menu-title{
        font-size: 32px;
        line-height: 125%;
    }
    .menu-gallery{
        gap: 20px 20px;
    }
}

@media (max-width: 680px){
    .menu-gallery{
        grid-template-columns: 310px;
        gap: 38px;
    }
    .menu-tabs{
        gap: 6px;
    }
}


@media (max-width: 630px){
    .section-title__h1{
        font-size: 42px;
        line-height: 115%;
    }
    .title-wrapper{
        gap: 40px;
    }
    .section-title__info{
        font-size: 16px;
    }
    .coffee-title{
        font-size: 32px;
        line-height: 125%;
        margin-bottom: 39px;
    }
    .slider-button{
        display: none;
    }

    .slider-wrapper{
        max-width: 380px;
    }

    .favorite-description {
        margin-top: 21px;
    }
    .about-title{
        font-size: 32px;
        line-height: 125%;
    }
    .about-photos__item.item1, .about-photos__item.item4{
        min-width: 348px;
        min-height: 590px;
        .about-photos__img{
            transform: scale(1.24);
        }
    }
    .mobile-title{
        font-size: 32px;
        line-height: 125%;
    }
    .mobile-links-wrapper{
        flex-direction: column;
        .mobile-link{
            width: max-content;
        }
    }
    .mobile-app-title{
        gap: 40px;
    }
    .section-mobile{
        gap: 40px;
        margin-bottom: 100px;
    }
    .mobile-photo{
        aspect-ratio: 630/630;
        width: 100%;
        height: auto;
    }
    
    .mobile-img{
        width: 100%;
        
    }
    .footer-wrapper{
        padding: 60px 16px 65px;
        gap: 40px;
    }
    .footer-title{
        font-size: 32px;
        line-height: 125%;
    }
}

