*{
    box-sizing: border-box;
}

body{
    background-color: #E1D4C9;
    font-family: 'Inter', sans-serif;
}



.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
}

.header{
    margin-top: 20px;
    margin-bottom: 20px;
}

.header-items{
    display: flex;
    justify-content: space-between;
}



.nav-list{
    display: flex;
    list-style: none;
    gap: 40px;
    padding: 0;
    
}

.header-nav__link{
    text-decoration: none;
    color: #403F3D;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.header-menu{
    display: flex;
    gap: 8px;
    align-items: baseline;
    height: max-content;
    padding-top: 15px;
}

.header-menu__icon{
    align-self: baseline;
}

.header-menu__link{
    text-decoration: none;
    color: #403F3D;
    font-size: 16px;
    font-weight: 600;
}

.header-logo{
    height: 60px;
}

.section-title{
    background-image: url(../img/img-hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    padding: 100px;
    border-radius: 40px;
    /* margin-bottom: 100px; */
}

.title-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 530px;
    gap: 41px;
}

.section-title__h1{
    font-size: 72px;
    color: #E1D4C9;
    line-height: 75.6px;
    font-weight: 600;
    font-style: normal;
    margin: 0;
}

.h1-span{
    color: #B0907A;
    font-style: italic;
    
}

.section-title__info{
    color: #E1D4C9;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
}

.section-title__btn{
    background-color: #E1D4C9;
    border: none;
    border-radius: 100px;
    width: max-content;
    padding: 23px 78px;
    /* line-height: 22px; */
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.section-favorite{
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
}


.coffee-title{
    font-size: 60px;
    text-align: center;
    font-weight: 600;
    line-height: 75px;
    color: #403F3D;
}

.coffee-span{
    color: #B0907A;
    font-style: italic;
}

.coffee-img{
    display: block;
    margin: 0 auto 10px;
    
}

.favorite-description{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 480px;
}

.favorite-description__name{
    font-size: 24px;
    line-height: 30px;
    color: #403F3D;
}

.favorite-description__paragraph{
    margin: 0;
    color: #403F3D;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #403F3D;
    text-align: center;
}


.favorite-description__price{
    color: #403F3D;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 40px;
}


.slider-items{
    display: flex;
    justify-content: center;
    gap: 12px;
}

.slider-span{
    width: 40px;
    height: 4px;
    border: none;
    border-radius: 100px;
    background-color: #C1B6AD;
}

.slider-span-active{
    background-color: #665F55;
}

.slider-button{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #665F55;
    background-color: transparent;
    cursor: pointer;
    top: 50.7%;/
}

.slider-button-left{
    left: 0.4%;
}

.slider-button-right{
    right: 0.4%;
}

.section-about{
    margin-bottom: 100px;
    overflow: hidden;
}

.about-title{
    margin: 0;
    padding: 0;
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
    color: #403F3D;
    box-sizing: content-box;
    width: 100%;
   margin-bottom: 40px;

}

.about-span{
    font-style: italic;
    color: #B0907A;
}

.relax-span{
    word-spacing: -4px;
}

.about-photos{
    display: flex;
    gap: 40px;
}

.about-photos__item{
    border-radius: 20px;
}

.about-img1{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: scale(1.1); 
    transition: transform 0.3s linear;
}

.about-img2{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: scale(1.1); 
    transition: transform 0.3s linear;
}

.about-img3{
   object-fit: cover;
   width: 100%;
   height: 100%;
   transform: scale(1.1); 
   transition: transform 0.3s linear;
}

.about-img4{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: scale(1.1); 
    transition: transform 0.3s linear;
}

.item1{
    overflow: hidden;
    width: 660px;
    height: 590px;
    margin-bottom: 40px;
}

.item2{
    overflow: hidden;
    width: 660px;
    height: 430px;
}

.item3{
    overflow: hidden;
    width: 660px;
    height: 430px;;
    margin-bottom: 40px;
}

.item4{
    overflow: hidden;
    width: 660px;
    height: 590px;
}

.about-img1:hover, .about-img2:hover, .about-img3:hover, .about-img4:hover{
    transform: scale(1);
    transition: transform 0.3s linear;
}

.section-mobile{
    display: flex;
    gap: 100px;
    margin-bottom: 95px;
}

.mobile-app-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 38px;
}

.mobile-title{
    padding: 0;
    margin: 0;
    color: #403F3D;
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
}

.mobile-span{
    font-style: italic;
    color: #B0907A;
}

.mobile-descripton{
    padding: 0;
    margin: 0;
    color: #403F3D;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    /* margin-top: 40px; */
    /* margin-bottom: 37px; */
}

.mobile-links-wrapper{
    display: flex;
    gap: 18px;
    
}

.apple-wrapper-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 8px;
    border: 1px solid #665F55;
    border-radius: 100px;
    padding: 12px 59px 12px 20px;
    transition: background-color 0.3s linear;
}

.apple-available{
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-weight: 600;
    line-height: 140%;
    color: #403F3D;
    transition: color 0.3s linear;
}

.apple-store{
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 150%;
    font-weight: 600;
    color: #403F3D;
    transition: color 0.3s linear;
}

.google-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 8px;
    border: 1px solid #665F55;
    border-radius: 100px;
    padding: 12px 44px 12px 20px;
    transition: background-color 0.3s linear; 
}

.google-available{
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-weight: 600;
    line-height: 140%;
    color: #403F3D;
    transition: color 0.3s linear;
}

.google-play{
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 150%;
    font-weight: 600;
    color: #403F3D;
    transition: color 0.3s linear;
}

.google-link:hover, .apple-wrapper-link:hover{
    background-color: #665F55;
}

.google-link:hover .google-available, .google-link:hover .google-play{
    color: #E1D4C9;
}



.apple-wrapper-link:hover .apple-available, .apple-wrapper-link:hover .apple-store{
    color: #E1D4C9;
    transition: color 0.3s linear;
}

svg path{
    transition: fill 0.3s linear;
}

.google-link:hover svg path{
    fill: #E1D4C9;
    transition: fill 0.3s linear;
}

.apple-wrapper-link:hover svg path{
    fill: #E1D4C9;
    transition: fill 0.3s linear;
}

.mobile-photo{
    /* overflow: hidden; */
}

.mobile-img{
    max-width: 630px;
    max-height: 630px;
    /* width: 100%; */
}

.footer-wrapper{
    padding: 100px;
    background-color: #665F55;
    border-radius: 40px;
    display: flex;
    gap: 100px;
    margin-bottom: 40px;
}

.footer-title{
    padding: 0;
    margin: 0;
    color: #E1D4C9;
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
    max-width: 530px;
}

.footer-span{
    color: #B0907A;
    font-style: italic;
}

.footer-socials{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
}

.contacts-title{
    padding: 0;
    margin: 0;
    color: #E1D4C9;
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
}

.socials-icons{
    display: flex;
    gap: 10px;
}

.socials-icons__item{
    text-decoration: none;
    border: 1px solid #C1B6AD;
    border-radius: 100px;
    padding: 18px 18px 12px;
    transition: background-color 0.3s linear;
}

.socials-icons__item svg path{
    transition: stroke 0.3s linear;
}

.contacts-info{
    display: flex;
    flex-direction: column;
    gap: 17px;
}




.contacts-info__link{
    text-decoration: none;
    color: #E1D4C9;
    font-size: 16px;
    font-weight: 600;
    width: max-content;
}

.contacts-info__link svg{
    margin-right: 4px;
}

.address-span{
    word-spacing: 3px;
}

.socials-icons__item:hover{
    background-color: #E1D4C9;
    transition: background-color 0.3s linear;
}

.socials-icons__item:hover svg path{
   stroke: #403F3D;
   transition: stroke 0.3s linear;
}

.contacts-info__link::after{
    display: block;
    content: "";
    height: 2px;
    width: 0px;
    background-color: #E1D4C9;
    transition: width 0.3s linear;
}

.contacts-info__link:hover::after{
    display: block;
    width: 100%;
    transition: width 0.3s linear
}


